.hero a:hover {
filter: brightness(85%);
}
header a:hover {
   filter: brightness(85%);
}
main .container-fluid img:hover {
transform: scale(1.10);
}
header nav {
    background: linear-gradient(to bottom, black, #212529);
}