.icon-edit {
    position: absolute;
  font-size: 1rem;
  bottom: 5px;
  left: 20px;
  padding: 4px;
}
input::placeholder{
    color: white !important; 
}
.dropdown a:hover {
filter: brightness(85%);

}
button:hover{
    filter: brightness(85%)!important;
    background-color: white!important;
    color: black!important;
}
body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    
}
button {
    letter-spacing: 1px;
}
.checkbox {
    width: 30px;
    height: 30px;
    border-radius: 0;
}
.danger:hover{
    background-color: rgb(248, 11, 11)!important;
    color:rgb(255, 255, 255)!important;
}